import { db } from "@/lib/db";
import { count } from "drizzle-orm";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import Pagination from "@/components/pagination";
import {{tableObj.singularPascalCase}}Table from "@/components/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/{{tableObj.singularKebabCase}}-table";
import { Button } from "@/components/ui/button";
import { PlusIcon } from "@radix-ui/react-icons";

export default async function Page({
  searchParams,
}: {
  searchParams: { page: string; page_size: string };
}) {
  const page = parseInt(searchParams.page) || 1;
  const pageIndex = page - 1;
  const pageSize = parseInt(searchParams.page_size) || 10;
  const countRecords = await db.select({ value: count() }).from({{tableObj.pluralCamelCase}});
  const countRecord = countRecords[0];
  const totalPages = Math.ceil(countRecord.value / pageSize);
  const {{tableObj.singularCamelCase}}Records = await db.query.{{tableObj.pluralCamelCase}}.findMany({
    limit: pageSize,
    offset: pageIndex * pageSize,
  });

  return (
    <div>
      <h1 className="text-3xl font-bold mb-6">{{tableObj.pluralCapitalCase}}</h1>
      <div className="text-right mr-2">
        <a href="{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/new">
          <Button>
            <PlusIcon className="mr-2" /> New
          </Button>
        </a>
      </div>
      <div className="mb-5">
        <{{tableObj.singularPascalCase}}Table {{tableObj.pluralCamelCase}}={ {{tableObj.singularCamelCase}}Records } />
      </div>
      <div>
        <Pagination page={page} pageSize={pageSize} totalPages={totalPages} />
      </div>
    </div>
  );
}
