import { db } from "@/lib/db";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import Pagination from "@/components/pagination";
import {{tableObj.singularPascalCase}}Table from "@/components/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/{{tableObj.singularKebabCase}}-table";
import { Button } from "@/components/ui/button";
import { PlusIcon } from "@radix-ui/react-icons";
import Link from "next/link";

export default async function Page({
  searchParams,
}: {
  searchParams: { page: string; pageSize: string };
}) {
  const page = parseInt(searchParams.page) || 1;
  const pageIndex = page - 1;
  const pageSize = parseInt(searchParams.pageSize) || 10;
  const count = await db.$count({{tableObj.pluralCamelCase}});
  const totalPages = Math.ceil(count / pageSize);
  const {{tableObj.singularCamelCase}}List = await db.query.{{tableObj.pluralCamelCase}}.findMany({
    limit: pageSize,
    offset: pageIndex * pageSize,
  });

  return (
    <div>
      <h1 className="text-3xl font-bold mb-6">{{tableObj.pluralCapitalCase}}</h1>
      <div className="text-right mr-2">
        <Link href="{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/new">
          <Button>
            <PlusIcon className="mr-2" /> New
          </Button>
        </Link>
      </div>
      <div className="mb-5">
        <{{tableObj.singularPascalCase}}Table {{tableObj.singularCamelCase}}List={ {{tableObj.singularCamelCase}}List } />
      </div>
      <div>
        <Pagination page={page} pageSize={pageSize} totalPages={totalPages} />
      </div>
    </div>
  );
}
