import { columns } from "@/components/{{table}}/{{table}}-columns";
import { DataTable } from "@/components/ui/data-table";
import { db } from "@/lib/db";

export default async function Page() {
  const data = await db.query.{{table}}.findMany();

  return (
    <div>
      <h1 className="text-3xl font-bold mb-6">{{table}}</h1>
      <div className="text-right mr-2">
        <a href="{{table}}/new" className="text-blue-500">
          new
        </a>
      </div>
      <DataTable columns={columns} data={data} />
    </div>
  );
}
