        <div>
          <Label>{{columnCases.originalCapitalCase}}</Label>
          <TiptapEditor html={ {{tableObj.singularCamelCase}}.{{columnCases.originalCamelCase}} ?? ""} name="{{columnCases.originalCamelCase}}" />
          {state.errors?.{{columnCases.originalCamelCase}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>