import {{capitalizedTable}}CreateForm from "@/components/{{table}}/{{table}}-create-form";

export default function Page() {
  return (
    <div>
      <h2>create {{table}}</h2>
      <{{capitalizedTable}}CreateForm />
    </div>
  );
}
