import {{capitalizedTable}}CreateForm from "@/components/{{table}}/{{table}}-create-form";

export default function Page() {
  return (
    <div>
      <h1 className="text-3xl font-bold mb-6">Create {{table}}</h1>
      <{{capitalizedTable}}CreateForm />
    </div>
  );
}
