import {{capitalizedTable}}Form from "@/components/{{table}}/{{table}}-form";

export default function Page() {
  return (
    <div>
      <h2>create {{table}}</h2>
      <{{capitalizedTable}}Form />
    </div>
  );
}
