"use client";

import { ColumnDef } from "@tanstack/react-table";
import { {{drizzleInferredType}} } from "@/schema/{{table}}";

export const columns: ColumnDef<{{drizzleInferredType}}>[] = [
{{columnDefs}}
  {
    id: "actions",
    cell: (({ row }) => {
        const id = row.original.id;
        return (
          <div className="text-blue-500">
              <a href={`{{#if isAdmin}}/admin/{{/if}}/{{table}}/${id}`}>view</a> | <a href={`{{#if isAdmin}}/admin/{{/if}}/{{table}}/${id}/edit`}>edit</a> | <a href={`{{#if isAdmin}}/admin/{{/if}}/{{table}}/${id}/delete`}>delete</a>
          </div>
        )
    })
  }
];
