"use client";

import { ColumnDef } from "@tanstack/react-table";
import { {{tableObj.singularPascalCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";

export const columns: ColumnDef<{{tableObj.singularPascalCase}}>[] = [
{{columnDefs}}
  {
    id: "actions",
    cell: (({ row }) => {
        const id = row.original.id;
        return (
          <div className="text-blue-500">
              <a href={`{{#if isAdmin}}/admin/{{/if}}/{{tableObj.pluralKebabCase}}/${id}`}>view</a> | <a href={`{{#if isAdmin}}/admin/{{/if}}/{{tableObj.pluralKebabCase}}/${id}/edit`}>edit</a> | <a href={`{{#if isAdmin}}/admin/{{/if}}/{{tableObj.pluralKebabCase}}/${id}/delete`}>delete</a>
          </div>
        )
    })
  }
];
