        <div className="flex flex-col gap-2">
          <Label>{{validatedColumn.caseVariants.singularCapitalCase}} Id</Label>
          <GenericCombobox
            list={ {{validatedColumn.caseVariants.singularCamelCase}}List }
            name="{{validatedColumn.caseVariants.singularCamelCase}}Id"
            valueField="id"
            labelField="id"
            searchPlaceholder="Search {{validatedColumn.caseVariants.pluralCapitalCase}}..."
            selectPlaceholder="Select {{validatedColumn.caseVariants.singularCapitalCase}}..."
            emptyText="No {{validatedColumn.caseVariants.singularCamelCase}} found"
          />
          {state.errors?.{{validatedColumn.caseVariants.singularCamelCase}}Id?.map((error) => (
            <p className="text-red-500" key={error}>
              {error}
            </p>
          ))}
        </div>