        <div className="flex flex-col gap-2">
          <Label>{{columnCases.singularCapitalCase}} Id</Label>
          <GenericCombobox
            list={ {{columnCases.singularCamelCase}}List }
            name="{{columnCases.singularCamelCase}}Id"
            valueField="id"
            labelField="id"
            searchPlaceholder="Search {{columnCases.pluralCapitalCase}}..."
            selectPlaceholder="Select {{columnCases.singularCapitalCase}}..."
            emptyText="No {{columnCases.singularCamelCase}} found"
          />
          {state.errors?.{{columnCases.singularCamelCase}}Id?.map((error) => (
            <p className="text-red-500" key={error}>
              {error}
            </p>
          ))}
        </div>