"use client";

import { delete{{tableObj.singularPascalCase}}, Delete{{tableObj.singularPascalCase}}State } from "@/actions/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/delete-{{tableObj.singularKebabCase}}";
import { Button } from "@/components/ui/button";
import { useFormState } from "react-dom";
import { {{tableObj.singularPascalCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";

export default function {{tableObj.singularPascalCase}}DeleteForm({ {{tableObj.singularCamelCase}} }: { {{tableObj.singularCamelCase}}: {{tableObj.singularPascalCase}} }) {
  const initialState: Delete{{tableObj.singularPascalCase}}State = {};
  const [state, dispatch] = useFormState(delete{{tableObj.singularPascalCase}}, initialState);

  return (
    <div>
      <form action={dispatch} className="flex flex-col gap-2">
        <input type="hidden" name="id" value={ {{tableObj.singularCamelCase}}.id} />
        <div>
          <Label>Id</Label>
          <p>{ {{tableObj.singularCamelCase}}.id}</p>
        </div>
        <div>
          <Button type="submit" variant="destructive">
            Delete
          </Button>
        </div>
      </form>
    </div>
  );
}
