import { EyeIcon, PencilIcon, TrashIcon } from "lucide-react";
import Link from "next/link";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { Button } from "@/components/ui/button";
import { {{tableObj.pluralPascalCase}}WithRelations } from "@/repositories/{{tableObj.singularKebabCase}}-repository";

export default function {{tableObj.singularPascalCase}}Table({ {{tableObj.singularCamelCase}}List }: { {{tableObj.singularCamelCase}}List: {{tableObj.pluralPascalCase}}WithRelations }) {
  return (
    <Table>
      <TableHeader>
        <TableRow>
          <TableHead>Id</TableHead>
          {{#each columnCases}}
          <TableHead>{{this.originalCapitalCase}}</TableHead>
          {{/each}}
          <TableHead></TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        { {{tableObj.singularCamelCase}}List.map(({{tableObj.singularCamelCase}}) => (
          <TableRow key={ {{tableObj.singularCamelCase}}.id }>
            <TableCell>{ {{tableObj.singularCamelCase}}.id }</TableCell>
            {{#each columnCases}}
            <TableCell>{ {{../tableObj.singularCamelCase}}.{{this.originalCamelCase}}?.toString() }</TableCell>
            {{/each}}
            <TableCell className="justify-end flex gap-2">
              <Link href={`{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}.id }`}>
                <Button size="icon" variant="outline">
                  <EyeIcon />
                </Button>
              </Link>
              <Link href={`{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}.id }/edit`}>
                <Button size="icon" variant="outline">
                  <PencilIcon />
                </Button>
              </Link>
              <Link href={`{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}.id }/delete`}>
                <Button size="icon" variant="outline">
                  <TrashIcon />
                </Button>
              </Link>
            </TableCell>
          </TableRow>
        ))}
      </TableBody>
    </Table>
  );
}
