        <div>
          <Label>{{validatedColumn.caseVariants.originalCapitalCase}} Id</Label>
          <Input name="{{validatedColumn.caseVariants.singularCamelCase}}Id" defaultValue={ {{tableObj.singularCamelCase}}.{{validatedColumn.caseVariants.singularCamelCase}}Id ?? "" } />
          {state.errors?.{{validatedColumn.caseVariants.singularCamelCase}}Id?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>