        <div>
          <Label>{{column}}</Label>
          <Image
            src={data.{{column}} ?? ""}
            width="200"
            height="200"
            alt="{{column}}"
          />
          <div>
            <Link href={data.{{column}} ?? ""}>{data.{{column}} ?? ""}</Link>
          </div>
          <Input type="file" name="{{column}}" />
          {state.errors?.{{column}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>