"use client";

import { update{{tableObj.singularPascalCase}}, Update{{tableObj.singularPascalCase}}State } from "@/actions/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/update-{{tableObj.singularKebabCase}}";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Textarea } from "@/components/ui/textarea";
import { Checkbox } from "@/components/ui/checkbox";
import { GenericCombobox } from "@/components/generic-combobox";
import { GenericSelect } from "@/components/generic-select";
import { useFormState } from "react-dom";
import Link from "next/link";
import { cn } from "@/lib/utils";
import { {{tableObj.singularPascalCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import { config } from "@/lib/config";
{{#each referencesColumnList}}
import { {{this.singularPascalCase}} } from "@/schema/{{this.pluralKebabCase}}";
{{/each}}

export default function {{tableObj.singularPascalCase}}UpdateForm({ 
  {{tableObj.singularCamelCase}},
  {{#each referencesColumnList}}
  {{this.singularCamelCase}}List,
  {{/each}}
}: { 
  {{tableObj.singularCamelCase}}: {{tableObj.singularPascalCase}};
  {{#each referencesColumnList}}
  {{this.singularCamelCase}}List: {{this.singularPascalCase}}[];
  {{/each}}
}) {
  const initialState: Update{{tableObj.singularPascalCase}}State = {};
  const [state, dispatch] = useFormState(update{{tableObj.singularPascalCase}}, initialState);

  return (
    <div>
      <form action={dispatch} className="flex flex-col gap-2">
{{formControls}}
        <div>
          <Button type="submit">Submit</Button>
        </div>
        <div>
          <p
            className={cn(
              state.status === "success" && "text-green-500",
              state.status === "error" && "text-red-500"
            )}
          >
            {state.message}
          </p>
        </div>
      </form>
    </div>
  );
}
