        <div>
          <Label>{{columnCases.originalCapitalCase}}</Label>
          { {{tableObj.singularCamelCase}}.{{columnCases.originalCamelCase}}  && (
            <div>
              <Link href={config.NEXT_PUBLIC_UPLOAD_BASE_URL +  {{tableObj.singularCamelCase}}.{{columnCases.originalCamelCase}} }>{ {{tableObj.singularCamelCase}}.{{columnCases.originalCamelCase}} }</Link>
            </div>
          )}
          <Input type="file" name="{{columnCases.originalCamelCase}}" />
          {state.errors?.{{columnCases.originalCamelCase}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>