        <div className="flex flex-col gap-2">
          <Label>{{validatedColumn.caseVariants.singularCapitalCase}} Id</Label>
          <GenericSelect
            list={ {{validatedColumn.caseVariants.singularCamelCase}}List }
            name="{{validatedColumn.caseVariants.singularCamelCase}}Id"
            placeholder="Select {{validatedColumn.caseVariants.singularCapitalCase}}"
            valueField="id"
            labelField="id"
            defaultValue={ {{tableObj.singularCamelCase}}.{{validatedColumn.caseVariants.singularCamelCase}}Id }
          />
        </div>