        <div>
          <Label>{{validatedColumn.caseVariants.originalCapitalCase}}</Label>
          { {{tableObj.singularCamelCase}}.{{validatedColumn.caseVariants.originalCamelCase}}  && (
            <div>
              <Link href={config.NEXT_PUBLIC_UPLOAD_BASE_URL +  {{tableObj.singularCamelCase}}.{{validatedColumn.caseVariants.originalCamelCase}} }>{ {{tableObj.singularCamelCase}}.{{validatedColumn.caseVariants.originalCamelCase}} }</Link>
            </div>
          )}
          <Input type="file" name="{{validatedColumn.caseVariants.originalCamelCase}}" />
          {state.errors?.{{validatedColumn.caseVariants.originalCamelCase}}?.map((error) => (
            <p className="text-destructive" key={error}>{error}</p>
          ))}
        </div>