        <div className="flex flex-col gap-2">
          <Label>{{validatedColumn.caseVariantsWithId.singularCapitalCase}}</Label>
          <Select 
            name="{{validatedColumn.caseVariantsWithId.singularCamelCase}}"
            defaultValue={ {{tableObj.singularCamelCase}}.{{validatedColumn.caseVariantsWithId.singularCamelCase}} ?? undefined }
          >
            <SelectTrigger>
              <SelectValue />
            </SelectTrigger>
            <SelectContent>
              { {{validatedColumn.caseVariants.singularCamelCase}}List.map(({{validatedColumn.caseVariants.singularCamelCase}}) => (
                <SelectItem key={ {{validatedColumn.caseVariants.singularCamelCase}}.id } value={ {{validatedColumn.caseVariants.singularCamelCase}}.id.toString() }>
                  { {{validatedColumn.caseVariants.singularCamelCase}}.id}
                </SelectItem>
              ))}
            </SelectContent>
          </Select>
          {state.errors?.{{validatedColumn.caseVariantsWithId.singularCamelCase}}?.map((error) => (
            <p className="text-destructive" key={error}>{error}</p>
          ))}
        </div>