        <div className="flex flex-col gap-2">
          <Label>{{validatedColumn.caseVariants.singularCapitalCase}}</Label>
          <Select 
            name="{{validatedColumn.caseVariants.singularCamelCase}}"
            defaultValue={ {{tableObj.singularCamelCase}}.{{validatedColumn.caseVariants.singularCamelCase}} ?? undefined }
          >
            <SelectTrigger>
              <SelectValue />
            </SelectTrigger>
            <SelectContent>
              { {{validatedColumn.referenceTableVars.singularCamelCase}}List.map(({{validatedColumn.referenceTableVars.singularCamelCase}}) => (
                <SelectItem key={ {{validatedColumn.referenceTableVars.singularCamelCase}}.id } value={ {{validatedColumn.referenceTableVars.singularCamelCase}}.id.toString() }>
                  { {{validatedColumn.referenceTableVars.singularCamelCase}}.id}
                </SelectItem>
              ))}
            </SelectContent>
          </Select>
          {state.errors?.{{validatedColumn.caseVariants.singularCamelCase}}?.map((error) => (
            <p className="text-destructive" key={error}>{error}</p>
          ))}
        </div>