        <div>
          <Label>{{columnCases.originalCamelCase}}</Label>
          <div>
            <Link href={data.{{columnCases.originalCamelCase}} ?? ""}>{data.{{columnCases.originalCamelCase}} ?? ""}</Link>
          </div>
          <Input type="file" name="{{columnCases.originalCamelCase}}" />
          {state.errors?.{{columnCases.originalCamelCase}}?.map((error) => (
            <p className="text-red-500" key={error}>{error}</p>
          ))}
        </div>