import { notFound } from "next/navigation";
import { eq } from "drizzle-orm";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import { {{joinCaseVariants.pluralPascalCase}}UpdateForm } from "@/components/admin/{{leftCaseVariants.pluralKebabCase}}/{{joinCaseVariants.pluralKebabCase}}-update-form";
import { db } from "@/lib/db";
import { get{{leftCaseVariants.singularPascalCase}}WithRelations } from "@/repositories/{{leftCaseVariants.singularKebabCase}}-repository";
import { {{joinCaseVariants.pluralCamelCase}} } from "@/schema/{{joinCaseVariants.pluralKebabCase}}";

type Params = Promise<{ id: string }>;

export default async function Page(props: { params: Params }) {
  const params = await props.params;
  const { id } = params;
  const {{leftCaseVariants.singularCamelCase}} = await get{{leftCaseVariants.singularPascalCase}}WithRelations(id);

  if (!{{leftCaseVariants.singularCamelCase}}) {
    notFound();
  }

  const {{rightCaseVariants.singularCamelCase}}List = await db.query.{{rightCaseVariants.pluralCamelCase}}.findMany();

  const {{joinCaseVariants.singularCamelCase}}List = await db.query.{{joinCaseVariants.pluralCamelCase}}.findMany({
    where: eq({{joinCaseVariants.pluralCamelCase}}.{{leftCaseVariants.singularCamelCase}}Id, id),
  });

  return (
    <div className="relative">
      <div className="absolute left-8 -top-6">
        <Breadcrumb>
          <BreadcrumbList>
            <BreadcrumbItem>
              <BreadcrumbLink href="/admin/{{leftCaseVariants.pluralKebabCase}}">{{leftCaseVariants.pluralCapitalCase}}</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbSeparator />
            <BreadcrumbItem>
              <BreadcrumbLink href={`/admin/{{leftCaseVariants.pluralKebabCase}}/${ {{leftCaseVariants.singularCamelCase}}.id }`}>
                { {{leftCaseVariants.singularCamelCase}}.id }
              </BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbSeparator />
            <BreadcrumbItem>
              <BreadcrumbPage>Edit {{joinCaseVariants.pluralCapitalCase}}</BreadcrumbPage>
            </BreadcrumbItem>
          </BreadcrumbList>
        </Breadcrumb>
      </div>
      <div className="pt-5">
        <{{joinCaseVariants.pluralPascalCase}}UpdateForm
          id={ {{leftCaseVariants.singularCamelCase}}.id }
          {{rightCaseVariants.singularCamelCase}}List={ {{rightCaseVariants.singularCamelCase}}List }
          {{joinCaseVariants.singularCamelCase}}List={ {{joinCaseVariants.singularCamelCase}}List }
        />
      </div>
    </div>
  );
}
