import {{tableObj.singularPascalCase}}CreateForm from "@/components/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/{{tableObj.singularKebabCase}}-create-form";

export default function Page() {
  return (
    <div>
      <h1 className="text-3xl font-bold mb-6">Create {{tableObj.singularCapitalCase}}</h1>
      <{{tableObj.singularPascalCase}}CreateForm />
    </div>
  );
}
