{{#if referencesColumnList.length}}
import { db } from "@/lib/db";
{{/if}}
import { {{tableObj.singularPascalCase}}CreateForm } from "@/components/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/{{tableObj.singularKebabCase}}-create-form";

export default async function Page() {
  {{#each referencesColumnList}}
  const {{this.singularCamelCase}}List = await db.query.{{this.pluralCamelCase}}.findMany();
  {{/each}}

  return (
    <div>
      <h1 className="text-xl font-bold mb-6">Create {{tableObj.singularCapitalCase}}</h1>
      <{{tableObj.singularPascalCase}}CreateForm 
        {{#each referencesColumnList}}
        {{this.singularCamelCase}}List={ {{this.singularCamelCase}}List }
        {{/each}}
      />
    </div>
  );
}
