{{#if referencesColumnList.length}}
import { db } from "@/lib/db";
{{/if}}
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import { {{tableObj.singularPascalCase}}CreateForm } from "@/components/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/{{tableObj.singularKebabCase}}-create-form";

export default async function Page() {
  {{#each referencesColumnList}}
  const {{this.singularCamelCase}}List = await db.query.{{this.pluralCamelCase}}.findMany();
  {{/each}}

  return (
    <div className="relative">
      <div className="absolute left-8 -top-6">
        <Breadcrumb>
          <BreadcrumbList>
            <BreadcrumbItem>
              <BreadcrumbLink href="/admin/{{tableObj.pluralKebabCase}}">{{tableObj.pluralCapitalCase}}</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbSeparator />
            <BreadcrumbItem>
              <BreadcrumbPage>New</BreadcrumbPage>
            </BreadcrumbItem>
          </BreadcrumbList>
        </Breadcrumb>
      </div>
      <div className="pt-5">
        <{{tableObj.singularPascalCase}}CreateForm 
          {{#each referencesColumnList}}
          {{this.singularCamelCase}}List={ {{this.singularCamelCase}}List }
          {{/each}}
        />
      </div>
    </div>
  );
}
