import { db } from "@/lib/db";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import { eq } from "drizzle-orm";
import { notFound } from "next/navigation";

export default async function Page({ params }: { params: { id: string } }) {
  const { id } = params;

  const {{tableObj.singularCamelCase}}Record = await db.query.{{tableObj.pluralCamelCase}}.findFirst({ where: eq({{tableObj.pluralCamelCase}}.id, id) });

  if (!{{tableObj.singularCamelCase}}Record) {
    notFound();
  }

  return (
    <div>
      <h1 className="text-3xl font-bold mb-6">{{tableObj.capitalCase}}</h1>
      <div>
        <p><strong>id:</strong> { {{tableObj.singularCamelCase}}Record.id }</p>
        {{#each columnNames}}
        <p><strong>{{this}}:</strong> { {{../tableObj.singularCamelCase}}Record.{{this}}?.toString() }</p>
        {{/each}}
      </div>
    </div>
  );
}
