import { db } from "@/lib/db";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import { eq } from "drizzle-orm";
import { notFound } from "next/navigation";

type Params = Promise<{ id: string }>;

export default async function Page(props: { params: Params }) {
  const params = await props.params;
  const { id } = params;

  const {{tableObj.singularCamelCase}} = await db.query.{{tableObj.pluralCamelCase}}.findFirst({ where: eq({{tableObj.pluralCamelCase}}.id, id) });

  if (!{{tableObj.singularCamelCase}}) {
    notFound();
  }

  return (
    <div>
      <h1 className="text-3xl font-bold mb-6">{{tableObj.originalCapitalCase}}</h1>
      <div>
        <p><strong>Id:</strong> { {{tableObj.singularCamelCase}}.id }</p>
        {{#each columnCases}}
        <p><strong>{{this.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}.{{this.originalCamelCase}}?.toString() }</p>
        {{/each}}
      </div>
    </div>
  );
}
