import { notFound } from "next/navigation";
{{#if hasFileDataType}}
import Link from "next/link";
import { config } from "@/lib/config";
{{/if}}
import { get{{tableObj.singularPascalCase}}WithRelations } from "@/repositories/{{tableObj.singularKebabCase}}-repository";

type Params = Promise<{ id: {{pkStrategyJsType}} }>;

export default async function Page(props: { params: Params }) {
  const params = await props.params;
  const { id } = params;

  const {{tableObj.singularCamelCase}}Obj = await get{{tableObj.singularPascalCase}}WithRelations(id);

  if (!{{tableObj.singularCamelCase}}Obj) {
    notFound();
  }

  return (
    <div className="p-2">
      {{#each validatedColumns}}
        {{#switch this.dataType}}
          {{#case "boolean"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}} ? "true": "false" }</p>
          {{/case}}
          {{#case "date"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}?.toLocaleDateString() }</p>
          {{/case}}
          {{#case "datetime"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</p>
          {{/case}}   
          {{#case "timestamp"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</p>
          {{/case}}
          {{#case "json"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { JSON.stringify({{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}) }</p>
          {{/case}}
          {{#case "jsonb"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { JSON.stringify({{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}) }</p>
          {{/case}}
          {{#case "references"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.singularCamelCase}} }</p>
          {{/case}}
          {{#case "references_select"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.singularCamelCase}} }</p>
          {{/case}}
          {{#case "file"}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> <Link href={`${config.NEXT_PUBLIC_UPLOAD_BASE_URL}/${ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}} }`}>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}} }</Link></p>
          {{/case}}
          {{#default}}
      <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}} }</p>
          {{/default}}
        {{/switch}}
      {{/each}}
    </div>
  );
}
